<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | Fufu142857</title>
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.3.0/web/hack.min.css">
  <link rel="icon" type="image/png" href="{{ "/figures/favicon.png" | relative_url }}">
</head>
<body>
  {{ content }}
</body>
</html>
